h1, h3{
    text-align: center;
    color: cadetblue;
}

body{
    background-color: #e6e6ea;
    font-family: Arial, Helvetica, sans-serif;
}

#title p{
    font-size: 14pt;
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption{
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

#tribute-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: justify;
}

ul{
    list-style-position: inside;
    font-weight: bold;
    list-style: none;
}

ul li::before{
    content: "✦";
}

p{
    font-weight: normal;
}

.pitalic{
    font-weight: normal;
    text-align: center;
    font-style: italic;
}

#quotation{
    font-family: cursive;
    font-size: 14pt;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
    text-align: justify;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    
    
    background-color: rgb(207, 153, 37);
    color: white;
    text-align: center;
}